@charset "utf-8";
.formhead {
	font-size: 36px;
	color: #069;
	text-align: center;
}
.formhead table tr td {
	color: #000;
	font-size: 24px;
}
.formhead p1 {
	color: #009;
}
.formhead p2 {
	color: #036;
}
.formhead p {
	color: #036;
	font-size: 24px;

}
.headingv {
	color: #033;
}
.bigg {
	color: #036;
	font-size: 30px;
}
